p {
    color: teal;
    font-size: 76px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande","Lucida Sans", Arial, sans-serif;
}

#myheading {
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    letter-spacing: 1px;
    /* text-decoration: underline; */
    word-spacing: 5px;
}

#mydiv {
    background-image: linear-gradient(90deg, teal, white);
    /* background-color: teal; */
    padding: 20px;
    margin: 30px;
    border-radius: 20px;
    /* border-color: blueviolet;
    border-style: double;
    border-width: 5px; */
    box-shadow: 15px 15px 4px black;
}

/* body{
    background-color: aliceblue;
    background-image: url(pic.jpeg);
    background-size: cover;
    background-attachment: scroll;
    background-repeat: no-repeat;
    
} */

/* #myanimation{
    width: 500px;
    height: 500px;
    background-color: brown;
    border-radius: 30px;
    animation-duration: 5s;
    animation-name: myanim;
    animation-iteration-count: infinite;
}

@keyframes myanim{
    20% {background-color: yellow;}
    40% {background-color: black;}
    60% {background-color: rgb(225, 111, 179);}
    90% {background-color: rgb(255, 0, 0);}
} */

.head{
    grid-area: header;
}
.about{
    grid-area: abo;
}
.gallery{
    grid-area: gal;
}
.contact{
    grid-area: cont;
}
.support{
    grid-area: sup;
}

/* .mygriddiv{
    display: grid;
    grid-template-areas: 'header header header header header header' 
    'abo abo abo gal gal gal' 
    'cont cont sup sup sup sup';
    background-image: linear-gradient(120deg, teal, rgb(43, 88, 88));
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}
/* to select all the div inside the class >div is used */
/* .mygriddiv > div{ 
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
    text-align: center;
    font-size: 25px;
    color: rgb(3, 13, 16);
} */

 .mygriddiv{
    display: flex;
    flex-wrap: wrap;
    background-image: linear-gradient(120deg, teal, rgb(43, 88, 88));
    padding: 20px;
    margin: 20px;
    border-radius: 20px;
}
/* to select all the div inside the class >div is used */
.mygriddiv > div{ 
    background-color: white;
    margin: 20px;
    border-radius: 20px;
    padding: 20px;
    width: auto;
    text-align: center;
    font-size: 25px;
    color: rgb(3, 13, 16);
}

